body {
  font-family: "Newsreader", serif;
  margin: 0;
}

a {
  text-decoration: none !important;
}

#navbar {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  padding: 16px 56px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-sizing: content-box !important;
}

#navbar a {
  height: 100%;
  color: black;
}

a img{
  height: 100%;
}

#navbar-links {
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

#navbar-links h4 {
  margin-left: 16px;
  margin-bottom: 0;
}

#navbar-links h4:hover {
  color: #C40203;
}

h4 {
  font-size: 24px;
  font-weight: normal;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 0;
  margin-left: 0;
}

.button1 {
  color: #C40203;
  border: 1px solid;
  border-color: #C40203;
  border-radius: 50px;
  padding: 8px;
  background-color: white;
  text-align: center;
  transition: .3s;
}

.button1:hover {
  color: white !important;
  background-color: #C40203;
}

h4 i {
  font-size: 0.5em;
  margin-left: 4px;
}

.center-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects-dropdown {
  position: relative;
  display: inline-block;
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  z-index: 1;
}

#dropdown-content a {
  color: black;
  padding: 8px;
  margin-top: 8px;
}

#projects-dropdown:hover #dropdown-content {
  display: block;
}

#home-banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.1)
    ),
    url('images/banner_home.jpeg');
  background-size: cover;
  height: 70vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 56px 56px;
}

#banner-right {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#banner-right img{
  object-fit: contain;
  width: 100%;
}
#banner-right h2{
  color: white;
}

h2 {
  font-size: 30px;
  font-weight: normal;
  margin: 32px 0;
}

.button2 {
  color: #C40203 !important;
  border: 1px solid;
  border-color: #C40203;
  border-radius: 50px;
  padding: 16px;
  background-color: white;
  text-align: center;
  transition: .3s;
  font-weight: bold;
  margin: 0px;
}

.button2:hover {
  transform: scale(1.1)
}

.red-background {
  background-color: #C40203;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px 56px;
}

h1 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 16px;
  font-weight: bold;
}

h3 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 16px;
  margin-top: 16px;
}

#values {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 32px 0;
  width: 97%;
}

.value {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
}

.value img{
  width: 30%;
}

.value h4 {
  margin-top: 32px;
}

.red-text {
  color: #C40203;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 56px 56px;
}

.card-row {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 32px 0;
  width: 100%;
}

.project-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 30%
}

.project-card h4 {
  margin: 16px 0;
}

.project-card p {
  margin: 0;
}

.project-card img{
  width: 345px;
  height: 275px;
  border-radius: 10px;
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
}

#home-crisis-banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url('images/home_crisis_banner.jpeg');
  background-size: cover;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 32px 32px;
  color: white;
}

#home-crisis-banner h1 {
  font-size: 70px;
  margin: 0;
}

#home-crisis-banner h3 {
  width: 40%;
  font-size: 30px;
  margin: 16px 0;
}

.call-to-action {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 56px;
}

#footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

#footer-left img {
  width: 60%;
  object-fit: contain;
}

#footer-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#footer-right h4 {
  margin: 0;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 36px;
  width: 80%;
}

.socials a {
  color: #C40203;
}

#crisis-banner {
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ),
  url('images/crisis_banner.jpg');
background-size: cover;
background-position: center;
height: 70vh;
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 32px 32px;
color: white;
}

#crisis-banner img {
  width: 5%;
  margin-left: auto;
}


#crisis-banner h1 {
  font-size: 70px;
  margin: 0;
}

#crisis-info {
  display: flex;
  flex-direction: column;
  padding: 56px 56px;
}

#crisis-info h1 {
  text-align: center;
}

#crisis-info h4 {
  margin-bottom: 0;
}

#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px 56px;
}

#about img {
  margin-bottom: 32px;
}

h5 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
}

p {
  font-size: 20px;
}

#donate {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px 56px;
}

#donation-buttons {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 100%;
  margin-top: 16px;
}

#gogetfunding, #paypal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#fundraise {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 56px 56px;
}

.project-banner {
  height: 70vh;
}

.project-banner img{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

#carouselExampleIndicators {
  margin: 56px 112px;
}

.carousel-inner {
  border-radius: 25px;
  height: 80vh;
}

form {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: flex-start;
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

input[type="text"], textarea {
  width: 100%;
  height: 2rem;
  border: 2px solid #C40203;
  border-radius: 10px;
}

input, fieldset label, textarea {
  font-size: 20px;
  margin-bottom: 16px;
  font-family: "Newsreader", serif;
}

input[type="checkbox"] {
  transform: scale(2);
  margin-left: 16px;
  margin-right: 4px;
}

#project1 {
  margin-left: 8px;
}

#story {
  height: 10rem;

}

input[type="submit"] {
  margin-left: auto;
}

textarea {
  padding: 4px;
}
